@import "../../../styles/colors.scss";
.container {
  background: url("../../../assets/img/auth-background.jpg");
  background-size: cover;
  background-position: center;
  position: absolute;

  .content {
    height: 100vh;
    width: 100vw;
    background-color: rgba($color: #000000, $alpha: 0.2);
    padding: 100px;

    form {
      height: 290px;
      width: 300px;
      padding: 25px;
      background-color: $white;
      border-radius: 5px;

      img {
        margin-bottom: 16px;
      }

      .ui-inputgroup {
        padding: 5px 0px;
        border-radius: 4px;

        input {
          width: 100%;
        }

        span {
          width: 20%;
        }
      }

      button {
        margin-top: 10px;
        height: 7vh;
        background-color: $verde-go-active;
        font-weight: bold;
        border-radius: 4px;
        width: 100%;
      }
    }
  }

  @media (max-width: 599px) {
    .content {
      padding: 30px;
    }
  }
}
